<footer class="footer container mx-auto flex justify-between items-center p-4 mt-8">
    <h1 class="text-textColor text-3xl">Concurso de cocina</h1>
    <br/>
    <nav class="flex space-x-4">
        <a href="#" class="text-textColor">Inicio</a>
        <a href="./index.html" class="text-textColor">Jurado</a>
        <a href="#" class="text-textColor">Concurso</a>
        <a href="#" class="text-textColor">Inscripción</a>
    </nav>
    <br/>
    <div class="flex space-x-4">
        <a href="#" class="text-textColor font-bold">
            <i class="fab fa-facebook"></i> Facebook
        </a>
        <a href="#" class="text-textColor font-bold">
            <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="#" class="text-textColor font-bold">
            <i class="fab fa-twitter"></i> Twitter
        </a>
    </div>
</footer>
