<header class="header">
    <nav class="container mx-auto px-4 py-6">
        <div class="flex flex-col md:flex-row items-center justify-between">
            <a class="text-3xl text-textColor" href="#">Concurso de cocina</a>
            <ul class="flex space-x-4 mt-4 md:mt-0">
                <li><a class="text-textColor font-bold" href="./index.html">Jurado</a></li>
                <li><a class="text-textColor font-bold" href="#">Concurso</a></li>
                <li><a class="text-textColor font-bold" href="./register.html">Inscripción</a></li>
            </ul>
        </div>
    </nav>
</header>